<!-- Cookie Notice -->
<script type="text/javascript" id="cookieinfo"
	src="{{ "/js/cookieinfo.min.js" | prepend: site.baseurl }}"
	src="//cookieinfoscript.com/js/cookieinfo.min.js"
	data-bg="#645862"
	data-fg="#FFFFFF"
	data-link="#F1D600"
	data-cookie="CookieInfoScript"
	data-text-align="left"
	data-message="Wir verwenden hier keine Cookies, um Inhalte oder böse Werbung zu personalisieren oder die Zugriffe auf unsere Website zu analysieren. Falls ihr dennoch an unserer Datenschutzerklärung interesiert seid, die findet ihr übrigends"
	data-linkmsg=">hier<"
	data-moreinfo="{{ "/impressum/datenschutzerklaerung" | prepend: site.baseurl }}"
	data-close-text="OK">
</script>
