---
title: Kontakt
top_url: /kontakt/
permalink: /kontakt/
main_menu: true
weight: 9
sub_menu: true
sub_weight: 1
layout:
---

<!DOCTYPE html>
<html>
  {% include head-kontakt-map.html %}

  <body onLoad="mapinit();">
	{% include header.html %}
	<section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
		</header>

		<p style="text-align:center">Wir freuen uns, wenn du Kontakt mit uns aufnimmst, sei es pers&ouml;nlich bei einem unserer Treffen oder &uuml;ber das Internet.</p>

		<div class="box" id="treffen">
			<h2>Treffen & Sprechstunde</h2>
			<div id="map" style="height: 30em; margin: 1em 0; width: 45%; float: right; margin-left: 2em"></div>

			<p>Wenn dich Freifunk interessiert, laden wir dich hiermit ein, uns unkompliziert kennen zu lernen. Wir treffen uns wieder am<br>
				<strong><span id="next_meet_date">heute</span>, ab 19 Uhr.</strong> (<a href="{{ site.community.url_kalender }}">zum Kalender</a>)
				<h3>im Rosenwerk</h3>
				<blockquote>
					<a href="https://konglomerat.org">Konglomerat e.V.</a> / Freifunk {{ site.community.name }} e.V. im Rosenwerk<br>
		 			<a href="{{ site.community.url_treffenort }}">Jagdweg 1-3</a><br>
		 			01159 Dresden<br>
		 		</blockquote>
	  		</p>
	  		<p>
	  			Die Treffen im Zwei-Wochen-Rhythmus sind die ideale Gelegenheit, mit uns in pers&ouml;nlichen Kontakt zu treten.
				Sollte die T&uuml;r geschlossen sein, findet ihr neben den Briefk&auml;sten einen silberfarbenen Funktaster f&uuml;r das akustische Signalger&auml;t im Raum Ohne Namen (RON). Einfach dem <a href="{{ site.community.url_ronwlan }}">RON-WLAN-Signal</a> folgen oder nach dem Eingang links durch den Gang in Richtung Glast&uuml;r laufen.
	  		</p>
			<h4>Anfahrt</h4>
			<p>
				<ul>
					<li>F&uuml;r Fahrrad und KFZ bietet der Jagdweg gen&uuml;gend (kostenlose) Abstellm&ouml;glichkeiten.</li>
					<li>Per &Ouml;PNV (<a href="http://www.öpnvkarte.de/?zoom=17&lat=51.04774&lon=13.71672&layers=TBTTT#13.7167;51.0477;17">Karte</a>) f&uuml;hren die Straßenbahn Linien 7 und 12 (Haltestelle Rosenstraße) und die Linien 10 und 20 (Haltestelle Freiberger Straße – World Trade Center) sowie die S-Bahn-Linien S1 und S2 (Hp. Freiberger Straße) zu uns.</li>
				</ul>
			</p>
			<h4>Themen zur Sprechstunde</h4>
			<p>
				Bei uns im Wiki findet ihr weitere Informationen &uuml;ber alle <a href="{{ site.community.url_treffenthema }}">Themen zur Sprechstunde</a>.</li>
			</p>
		</div>

		<div class="box">
			<h2>Kontaktdaten</h2>
			<p>Wenn es dir nicht m&ouml;glich ist uns zu besuchen, dann gibt es nat&uuml;rlich noch alternative Kontaktwege:</p>
			<ul class="alt">
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;<a href="mailto:{{ site.community.mail_info }}">Email</a> ( {{ site.community.mail_info }} )</li>
				<li><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;&nbsp;<a href="{{ "/kontakt/mailinglists/" | prepend: site.baseurl }}">Mailing-Liste</a></li>
				<li><i class="fa fa-forumbee" aria-hidden="true"></i>&nbsp;&nbsp;<a href="{{ site.community.url_forum }}">Forum</a></li>
				<li><i class="fa fa-keybase" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://keybase.io/team/{{ site.community.keybase }}">Keybase.io</a> ( mit Chat-Gruppen und File-Sharing )</li>
				<li><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.twitter.com/{{ site.community.twitter }}">Twitter</a></li>
				<li><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/{{ site.community.facebook }}">Facebook</a></li>
			</ul>
		</div>
	</section>

	{% include footer.html %}

	{% include next_meet_day.html %}

  </body>
</html>
