---
title: News & Blog
top_url: /news/
permalink: /news/
main_menu: true
weight: 1
layout:
---

<!DOCTYPE html>
<html>
  {% include head-news.html %}

  <body>
	{% include header.html %}
	<section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
			<div style="display:inline-block;float:right;margin-right:0.8em;margin-top:0em">
				<a class="button" href="{{ site.community.url_blog }}" target="_blank">neuen Blogeintrag schreiben</a>
			</div>
        </div>
		</header>
		<div class="row">
			<div class="8u 12u(3)">
				{% for post in site.posts %}
				<div class="box">
					<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

					<h3>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</h3>

					<div class="post-content">
						{{ post.content }}
						{% include social.html post=post %}
					</div>
				</div>
				{% endfor %}
				<p class="rss-subscribe">
					<a href="{{ "/feed.xml" | prepend: site.baseurl }}">
					<span class="fa-stack fa-sm">
						<i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-rss fa-stack-1x"></i>
					</span>
					RSS-Feed
					</a> abonnieren
				</p>
			</div>
			<div class="4u 12u(3)">
				<div class="box">
					<h3>Nächstes Treffen</h3>
					<p><span id="next_meet_date">N&auml;chsten Mittwoch</span> ab 19:00 Uhr im <a href="/kontakt/">Rosenwerk</a>.</p>
				</div>

				<div class="box">
					<p>Im Freifunk Netz {{ site.community.name }} haben sich verschiedene Gemeinden zusammen geschlossen.</p>
					<h3>Communities:</h3>
					<ul>
						<blockquote>
		  					{% for subcom in site.community.sub_com %}
								<li>{{ subcom }}</li>
			  				{% endfor %}
						</blockquote>
					</ul>
				</div>
			</div>

		</div>
	</section>

	{% include footer.html %}

	<script>
		moment.locale('de');
		var nextDate;
		if (moment().isSame(moment().weekday(2), 'day'))
			nextDate = moment().weekday(2);
		else
			nextDate = moment().weekday(10);

		$('#next_meet_date').text(nextDate.format('D. MMMM'));
	</script>

  </body>

</html>
