<!DOCTYPE html>
<html>
  {% include head.html %}
  </head>

  <body>
    {% include header.html %}

    {{ content }}

    {% if page.hide_footer == true %}
    {% else %}
    {% include footer.html %}
    {% endif %}

    <!-- Cookie Notice -->
    <script type="text/javascript" id="cookieinfo"
      src="{{ "/js/cookieinfo.min.js" | prepend: site.baseurl }}"
      src="//cookieinfoscript.com/js/cookieinfo.min.js"
      data-bg="#645862"
      data-fg="#FFFFFF"
      data-link="#F1D600"
      data-cookie="CookieInfoScript"
      data-text-align="left"
      data-message="Wir verwenden Cookies, um Inhalte und Anzeigen zu personalisieren und die Zugriffe auf unsere Website zu analysieren."
      data-linkmsg="Mehr"
      data-moreinfo="{{ "/impressum/datenschutzerklaerung" | prepend: site.baseurl }}"
      data-close-text="OK">
    </script>

  </body>
</html>
